<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Sudip.</p>
        <img class="potrait" src="img/BM_IMG_1570805452826.jpg" alt="" />
    </div>
    {{>footer}}
</body>

</html>